# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
test.py
data/
.DS_Store
*.mp3

.venv/

# Flask secret keys and environment settings
.env

# Migrations
# migrations/

# Docker
*.log
logs/
docker-compose.override.yml
